{% extends "home/base.html" %}
{% load static %}
{% block b_head %}
{{super}}
<title>market</title>
<link rel="stylesheet" href="{% static 'market/css/market.css' %}">
{% endblock %}
{% block b_body%}

<div class="cards_div">

    {% for n in product %}
    {% if n.is_published %}
    <div class="card_div">
      <div class="card_div_img">
        <img src="../../../media/{{n.photo}}" alt="" class="card_img" />
      </div>
      <div class="card_div_body">
        <div class="card_div_title">
          <h5 class="card_title">{{n.model}}</h5>
        </div>
        <div class="card_div_short_description">
          <p class="card_short_description">{{n.short_description}}</p>
        </div>
        <div class="card_div_link">
          <a href="/market/product/{{n.id}}" class="card_a">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %} 

    <script src="{% static 'market/js/market.js' %}"></script> 
{% endblock %}

