@media screen and (max-width: 480px) {
 
}



.calc_form_title {
  margin: 15px 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  color: #555;
  font-weight: bold;
  position: relative;
  margin-bottom: 22px;
}
.calc_form_title:before {
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 5%;
  height: 2px;
  background: #df3335;
  content: '';
}
.calc_form_posttitle {
  color: #313131;
  line-height: 1.35;
  text-transform: none;
  letter-spacing: 0!important;
  margin: 15px 0 5px 0;
}
.calc_form_inputGroup {
  padding-left: 10px;
}
.calc_form_inputGroup label {
cursor: pointer;
display: block;
}
.calc_form_inputGroup select {
cursor: pointer;
}
.calc_form_inputGroup [type=number] {
max-width: 40px;
}
.calc_form_mg-input {
  margin-top: 10px;
}
.calc_form_inputGroup input {
  background: #f4f4f4;
  border: 1px solid #e5e7e9;
  padding: 1px 2px;
}
.calc_form_inputGroup [readonly] {
border: none;
background: none;
font-weight: bold;
color: #e03137;
}
.calc_form_btn {
  margin-top: 15px;
  background: #f4f4f4;
  border: none;
  padding: 10px 15px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  color: #222;
}