{% extends "home/base.html" %}
{% load static %}
{% block b_head %}
{{super}}
<title>service</title>
<link rel="stylesheet" href="{% static 'service/css/services.css' %}">
{% endblock %}
{% block b_body%}

<div class="cards_div">

    {% for n in service %}
    {% if n.is_published %}
    <div class="card_div">
      <div class="card_div_img">
        <img src="../../../media/{{n.photo}}" alt="" class="card_img" />
      </div>
      <div class="card_div_body">
        <div class="card_div_title">
          <h3 class="card_title">{{n.name}}</h3>
        </div>
        <div class="card_div_short_description">
          <p class="card_short_description">{{n.short_description}}</p>
        </div>
        <div class="card_div_link">
          <a href="/service/service/{{n.id}}" class="card_a">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %} 

    <script src="{% static 'service/js/services.js' %}"></script> 
{% endblock %}
