{% extends "home/base.html" %}
{% load static %}

{% block b_head %}
{{super}}
<title>work</title>
<link rel="stylesheet" href="{% static 'works/css/work.css' %}">
  <style>
 {{ works.contents_style|safe }}
  </style>
{% endblock %}
{% block b_body%}

<!-- <h2 id="news_title">{{news.title}}</h2> -->
  <!-- <img src="../../../media/{{news.photo}}" class="img_news"  id="news_photo" alt="">
  <p id="news_short_description" >{{news.short_description}}</p> -->

  {{works.content|safe}}

  {{ works.contents|safe }}


<script src="{% static 'works/js/work.js' %}"></script>

<script>{{ works.contents_script|safe }}</script>
{% endblock %}
{% block b_footer %}
{{super}}
{% endblock %}
